.carusel{
    margin: 135px 0;
    &__wrapper{
        max-width: 524px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__body{
        display: flex;
        gap: 28px;
    }
    &__card{
        display: flex;
        background-color: $bg-py;
        border-radius: 22px;
        img{
            width: 162px;
            margin: 30px 28px 30px 34px;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: start;
        margin: 58px 42px 58px 0;
        img{
            max-width: 140px;
        }
    }
    
}