.category {
    display: grid;
    justify-content: center;
    align-items: center;
    

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
        padding:73px 0;
    }

    &__card {
        width: 350px;
        height: 240px;
        background-color: $bg-py;
        color: rgb(0, 0, 0);
        font-size: 24px;
        text-align:left;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap:26px;

        img{
            padding-left: 41px;
        }
        
        &__item{
            h3{
                font-size: 44px;
                padding-top: 61px;
                
            }
        p {
            margin: 20px 0;padding-bottom: 61px;
        }
        }


    }

}