*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 700vh;
}
li{
    list-style: none;
}
a{
    text-decoration: inherit;
    color: inherit;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.btn{
    display: flex;
        background: #4462D9;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        font-weight: 600;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
    
        &:hover {
            background: #2e46c2;
        }
}

.search-box {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 8px 10px;
    width: 443px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    i {
        color: #4462D9;
        font-size: 16px;
        margin-right: 8px;
    }

    input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 14px;
        color: #333;

        &::placeholder {
            color: #aaa;
        }
    }
}