
.hero{
    color: white;
    background: #383638;
    background: linear-gradient(164deg, rgba(56, 54, 56, 1) 0%, rgba(11, 11, 11, 1) 25%);
    
    &__wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 142px 0;
    
    }
    &__box{
        margin-top: 47px;
    }
  
    &__title{
        width: 42%;
        h2{
            max-width: 457px;
            font-size: 65px;
            font-family: "Poppins", sans-serif;
        }
        p{
            padding-top: 20px;
            color: #ddd;
            font-size: 18px;
        }

    }
    &__image{
        margin-top: 50px;
        width: 42%;
        
    }
}
@media (max-width:990) {
    .hero{
        &__wrapper{
            width: 100%;
            display: flex;
        }
        &__title{
            width: 100%;
            
        }
        &__title{
            width: 100%;
        }
        
    }
}

